<p id="notice"><%= notice %></p>

<p>
  <b>Giorno:</b>
  <%= @forecast.giorno %>
</p>

<p>
  <b>Prefshift:</b>
  <%= @forecast.prefshift.cod %>
</p>

<p>
  <b>Employee:</b>
  <%= @forecast.employee.matricola %>
</p>


<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
