<%= form_for(@ggsettimana) do |f| %>
  <% if @ggsettimana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ggsettimana.errors.count, "error") %> prohibited this ggsettimana from being saved:</h2>

      <ul>
      <% @ggsettimana.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gg %><br />
    <%= f.text_field :gg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
